{% extends "portfolio/setup-base.html" %}
{% load static %}
{% block title %}Setup Education{% endblock title %}
{% block main %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Setup Education</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url "portfolio_setup" %}">Education</a></li>
          <li class="breadcrumb-item">Setup</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">


        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              {% include "portfolio/components/tabmenu.html" %}
              <div class="tab-content pt-2">

                

                <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="post" enctype="multipart/form-data">
                    {{form.errors}}
                    {% csrf_token %} 

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">School</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.school}}
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Degree</label>
                        <div class="col-md-8 col-lg-9">
                          {{form.degree}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Field of Study</label>
                        <div class="col-md-8 col-lg-9">
                          {{form.field_of_study}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Start Date</label>
                        <div class="col-md-8 col-lg-9">
                          {{form.start_date}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="company" class="col-md-4 col-lg-3 col-form-label">End Date</label>
                        <div class="col-md-8 col-lg-9">
                          {{form.end_date}}
                        </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Description</label>
                      <div class="col-md-8 col-lg-9">
                        {{form.description}}
                      </div>
                    </div>
                   
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                      <a class="btn btn-secondary" href="{% url "work_experience_setup" %}">Proceed</a>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">List of Services</h5>
                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">School</th>
                        <th scope="col">Degree</th>
                        <th scope="col">Field of Study</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for education in educations %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{education.school}}</td>
                            <td>{{education.degree}}</td>
                            <td>{{education.field_of_study}}</td>
                            <td>{{education.start_date}}</td>
                            <td>{{education.end_date}}</td>
                            <td>{{education.description}}</td>
                            <td>
                                <a class="btn btn-outline-primary" href="{% url 'edit-education' education.id %}"><i class="bi bi-pencil-square"> </i></a>
                                <a class="btn btn-outline-danger" href="{% url 'delete-education' education.id %}"><i class="bi bi-trash-fill"> </i></a>
                            </td>
                            
                        </tr>
                      {% endfor %}
                    
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock main %}

{% block script %}
<script type='text/javascript'>
    $('#id_start_date').attr("type","date");
    $('#id_end_date').attr("type","date");
 
 </script>

{% endblock script %}