<ul class="nav nav-tabs nav-tabs-bordered">

    <li class="nav-item">
        <a class="nav-link" href="{% url "portfolio_setup" %}">Overview</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "profile_setup" %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "service_setup" %}">Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "education_setup" %}">Education</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "work_experience_setup" %}">Work Experience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "project_setup" %}">Project</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "contact_setup" %}">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "service_setup" %}">Skill</a>
    </li>

</ul>