{% extends "base/base.html" %}

{% block title %}Home{% endblock title %}
{% block main %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Create Stunning Portfolios in Minutes</h1>
        <p class="col-md-12 fs-4">Are you a professional, freelancer, or creative looking to showcase your work? PortfolioPro makes it easy to create a beautiful portfolio with your own subdomain, all without writing a single line of code. Set up in less than 5 minutes!</p>
        <a class="btn btn-primary btn-lg" href="{% url "register" %}">Get Started </a>
    </div>
</div>


<div class="b-example-divider"></div>

<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Key Features</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
      </div>
      <div>
        <h2>Effortless Setup</h2>
        <ul>
            <li>Quick Start: Get your portfolio up and running in minutes. Just sign up, choose a template, and customize your content.</li>
            <li>No Coding Required: Our intuitive interface ensures you don't need any technical skills to create a professional portfolio.</li>
            
        </ul>

      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
      </div>
      <div>
        <h2>Custom Subdomains</h2>
        <ul>
            <li>Your Unique Identity: Each portfolio gets its own subdomain, giving you a unique web address to share with clients and colleagues.</li>
            <li>Professional Branding: Use your own domain name for a more professional look.</li>
        </ul>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
      </div>
      <div>
        <h2>Beautiful Templates</h2>
       <ul>
        <li>Variety of Designs: Choose from a range of stunning templates that highlight your work in the best light.</li>
        <li>Responsive and Modern: Our templates are mobile-friendly and designed to look great on any device.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this
        Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
    </p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock main %}
